<template>
  <div>
    <text-note v-if="note.type === 'text'" v-bind:note="note" />
    <list-note v-else-if="note.type === 'list'" v-bind:note="note" />
    <v-card v-else>
      <v-card-title class="text--error">
        Error, unknown note type!
      </v-card-title>
    </v-card>
  </div>
</template>

<script>
import ListNote from "./ListNote";
import TextNote from "./TextNote";

export default {
  name: "NoteWrapper",
  components: {
    "list-note": ListNote,
    "text-note": TextNote
  },
  props: {
    note: {
      type: Object,
      required: true
    }
  }
};
</script>
