<template>
  <div>
    <global-events @keyup.ctrl.enter.exact="closeDialog()" />
    <v-dialog v-model="dialog" max-width="600px">
      <template v-slot:activator="{ on }">
        <v-hover v-slot:default="{ hover }">
          <v-card
            :ripple="false"
            :elevation="hover ? 8 : 2"
            :color="note.color"
          >
            <div @click.stop="openDialog()" style="cursor: pointer">
              <v-card-title v-if="note.title !== ''" class="py-2">
                {{ note.title }}
              </v-card-title>
              <v-card-text v-if="note.text !== ''">
                <span style="white-space: pre-wrap">{{ note.text }}</span>
              </v-card-text>
              <v-expand-transition>
                <div v-if="note.labels.length !== 0">
                  <v-row class="pl-3 py-1">
                    <v-chip
                      v-for="label in note.labels"
                      :key="label.id"
                      class="ml-1 mb-1"
                      color="secondary"
                    >
                      {{ label.name }}
                    </v-chip>
                  </v-row>
                </div>
              </v-expand-transition>
              <v-divider />
              <v-card-actions class="py-1 pr-1">
                <v-spacer />
                <div v-if="note.deleted">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn icon @click.stop="restoreNote(note.id)" v-on="on">
                        <v-icon>restore_from_trash</v-icon>
                      </v-btn>
                    </template>
                    <span>Restore</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }" v-on="on">
                      <v-btn
                        icon
                        @click.stop="deleteForeverNote(note.id)"
                        v-on="on"
                      >
                        <v-icon>delete_forever</v-icon>
                      </v-btn>
                    </template>
                    <span>Delete forever</span>
                  </v-tooltip>
                </div>
                <div v-else-if="note.archived">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        icon
                        @click.stop="unarchiveNote(note.id)"
                        v-on="on"
                      >
                        <v-icon>unarchive</v-icon>
                      </v-btn>
                    </template>
                    <span>Unarchive</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn icon @click.stop="deleteNote(note.id)" v-on="on">
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </template>
                    <span>Delete</span>
                  </v-tooltip>
                </div>
                <div v-else>
                  <!--- todo share function
              <v-btn icon @click="deleteNote(index)">
                <v-icon>person_add</v-icon>
              </v-btn>
              todo color function -->
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        icon
                        @click.stop="coloringActive = !coloringActive"
                        v-on="on"
                      >
                        <v-icon>color_lens</v-icon>
                      </v-btn>
                    </template>
                    <span>Edit Color</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn icon @click.stop="toggleLabeling()" v-on="on">
                        <v-icon>label</v-icon>
                      </v-btn>
                    </template>
                    <span>Edit Labels</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn icon @click.stop="archiveNote(note.id)" v-on="on">
                        <v-icon>archive</v-icon>
                      </v-btn>
                    </template>
                    <span>Archive</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn icon @click.stop="deleteNote(note.id)" v-on="on">
                        <v-icon>delete</v-icon>
                      </v-btn>
                    </template>
                    <span>Delete</span>
                  </v-tooltip>
                </div>
              </v-card-actions>
            </div>

            <v-expand-transition>
              <div v-show="coloringActive">
                <v-divider></v-divider>
                <v-row class="ma-0 pb-2">
                  <div v-for="color in colors" :key="color" class="ml-1 mt-1">
                    <v-btn
                      fab
                      x-small
                      :color="color"
                      class="mt-1 ml-1 elevation-2"
                      @click="updateColor(color)"
                    />
                  </div>
                </v-row>
              </div>
            </v-expand-transition>

            <v-expand-transition>
              <div v-show="labelingActive">
                <v-divider></v-divider>
                <v-subheader>Add Label to Note</v-subheader>
                <v-text-field
                  class="pa-1 pt-0 mt-0"
                  :background-color="note.color"
                  append-icon="search"
                  dense
                  ref="labelSearch"
                  v-model="labelSearchInput"
                  flat
                  hide-details
                  solo
                  name="labelSearch"
                  label="Enter Label Name"
                  type="text"
                  @keyup.enter.stop="processLabelInput()"
                />

                <v-list :color="note.color">
                  <v-list-item
                    v-for="label in labelsSearched"
                    :key="label.name"
                  >
                    <v-list-item-action>
                      <v-checkbox
                        v-model="label.checked"
                        @change="toggleLabel(label)"
                      />
                    </v-list-item-action>
                    <v-list-item-content>
                      {{ label.name }}
                    </v-list-item-content>
                  </v-list-item>
                </v-list>

                <v-expand-transition>
                  <div
                    v-if="labelSearchInput.trimEnd() !== ''"
                    @click="processLabelInput()"
                    style="cursor: pointer"
                  >
                    <v-divider />
                    <v-list-item>
                      <v-icon>
                        add
                      </v-icon>
                      <v-list-item-content>
                        <span class="font-weight-bold">{{
                          labelSearchInput
                        }}</span>
                      </v-list-item-content>
                    </v-list-item>
                  </div>
                </v-expand-transition>
              </div>
            </v-expand-transition>
          </v-card>
        </v-hover>
      </template>
      <v-card :color="note.color">
        <v-text-field
          :background-color="note.color"
          class="ma-0 pa-0 pt-1 font-weight-bold"
          style="font-size: 18px"
          height="18"
          ref="noteTitleInput"
          v-model="note.title"
          flat
          hide-details
          solo
          name="changeNoteTitle"
          label="Title"
          type="text"
          @keypress.enter="changeFocusToTextInput()"
        />
        <v-divider />
        <v-card-text class="pl-2 mt-0">
          <v-textarea
            :background-color="note.color"
            ref="noteTextInput"
            v-model="note.text"
            flat
            solo
            auto-grow
            rows="1"
            hide-details
            name="changeNoteText"
            label="Add Text to Note"
            type="text"
          />
          <div v-if="note.labels.length !== 0">
            <v-row class="pl-3 py-1">
              <v-chip
                close
                @click:close="_removeLabelFromNote(label)"
                v-for="label in note.labels"
                :key="label.id"
                class="ml-1 mb-1"
                color="secondary"
              >
                {{ label.name }}
              </v-chip>
            </v-row>
          </div>
        </v-card-text>
        <v-divider />
        <v-card-actions>
          <v-spacer />
          <div v-if="note.deleted">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon @click.stop="restoreNote(note.id)" v-on="on">
                  <v-icon>restore_from_trash</v-icon>
                </v-btn>
              </template>
              <span>Restore</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }" v-on="on">
                <v-btn icon @click.stop="deleteForeverNote(note.id)" v-on="on">
                  <v-icon>delete_forever</v-icon>
                </v-btn>
              </template>
              <span>Delete forever</span>
            </v-tooltip>
          </div>
          <div v-else-if="note.archived">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon @click.stop="unarchiveNote(note.id)" v-on="on">
                  <v-icon>unarchive</v-icon>
                </v-btn>
              </template>
              <span>Unarchive</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon @click.stop="deleteNote(note.id)" v-on="on">
                  <v-icon>delete</v-icon>
                </v-btn>
              </template>
              <span>Delete</span>
            </v-tooltip>
          </div>
          <div v-else>
            <!--- todo share function
          <v-btn icon @click="deleteNote(index)">
            <v-icon>person_add</v-icon>
          </v-btn>
          todo color function
          <v-btn icon @click="deleteNote(index)">
            <v-icon>color_lens</v-icon>
          </v-btn>
          -->
            <v-btn icon @click="qrCodeDialog = true">
              <v-icon>
                share
              </v-icon>
            </v-btn>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon @click.stop="archiveNote(note.id)" v-on="on">
                  <v-icon>archive</v-icon>
                </v-btn>
              </template>
              <span>Archive</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon @click.stop="deleteNote(note.id)" v-on="on">
                  <v-icon>delete</v-icon>
                </v-btn>
              </template>
              <span>Delete</span>
            </v-tooltip>
          </div>
          <v-btn text @click="closeDialog()">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-dialog
        v-model="qrCodeDialog"
        max-width="600"
        v-if="$vuetify.breakpoint.mdAndUp"
      >
        <v-card>
          <v-card-title class="headline">
            <v-row justify="center">{{ note.title }}</v-row></v-card-title
          >

          <v-divider class="mb-4" />
          <v-card-text>
            <v-row justify="center">
              <qrcode-vue :value="qrCodeString(note)" size="400" />
            </v-row>
          </v-card-text>
          <v-divider />
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="qrCodeDialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="qrCodeDialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
        v-else
      >
        <v-card>
          <v-card-title class="headline">
            <v-row justify="center">{{ note.title }}</v-row></v-card-title
          >

          <v-divider class="mb-4" />
          <v-card-text>
            <v-row justify="center">
              <qrcode-vue :value="qrCodeString(note)" size="400" />
            </v-row>
          </v-card-text>
          <v-divider />
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="qrCodeDialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-dialog>
  </div>
</template>

<script>
/* eslint-disable no-console */

import { mapActions } from "vuex";
import IDGenerator from "../../api/IDGenerator";
import QrcodeVue from "qrcode.vue";
import StringCompression from "lz-string";

export default {
  name: "TextNote",
  props: ["note"],
  components: {
    "qrcode-vue": QrcodeVue
  },
  data() {
    return {
      dialog: false,
      qrCodeDialog: false,
      labelingActive: false,
      labelSearchInput: "",
      coloringActive: false,
      colors: [
        "note_default",
        "note_grey",
        "note_yellow",
        "note_orange",
        "note_light_green",
        "note_dark_green",
        "note_light_blue",
        "note_türkis",
        "note_purple",
        "note_blue",
        "note_red",
        "note_pink"
      ]
    };
  },
  computed: {
    labels() {
      return this.$store.state.notes.labels;
    },
    labelsChecked() {
      return this.labels.map(label => {
        let labelChecked = { id: label.id, name: label.name, checked: false };
        if (this.note.labels.map(label => label.id).includes(label.id)) {
          labelChecked.checked = true;
        }
        return labelChecked;
      });
    },
    labelsSearched() {
      return this.labelsChecked.filter(label => {
        return label.name.includes(this.labelSearchInput);
      });
    }
  },
  watch: {
    dialog: function(newVal) {
      if (!newVal) {
        this.changeNote({
          id: this.note.id,
          changedNote: this.note
        });
      }
      this.setModifyDialogActive(newVal);
    }
  },
  methods: {
    ...mapActions("notes", [
      "deleteNote",
      "deleteForeverNote",
      "restoreNote",
      "archiveNote",
      "unarchiveNote",
      "changeNote",
      "updateColorOfNote",
      "addLabelToNote",
      "removeLabelFromNote",
      "addLabel"
    ]),
    ...mapActions("uistates", ["setModifyDialogActive"]),
    changeFocusToTextInput() {
      this.$nextTick(() => {
        this.$refs.noteTextInput.focus();
      });
    },
    openDialog() {
      this.dialog = true;
      // waiting to ticks until dialog is completely rendered
      this.$nextTick(() => {
        this.$nextTick(() => {
          this.$refs.noteTitleInput.focus();
        });
      });
    },
    closeDialog() {
      this.dialog = false;
    },
    updateColor(color) {
      this.updateColorOfNote({ id: this.note.id, color: color });
      this.coloringActive = false;
    },
    toggleLabeling() {
      if (this.labelingActive) {
        this.labelingActive = false;
      } else {
        this.labelingActive = true;
        this.$nextTick(() => {
          this.$refs.labelSearch.focus();
        });
      }
    },
    processLabelInput() {
      let labelToAddIndex = this.labels
        .map(label => label.name)
        .indexOf(this.labelSearchInput);
      if (labelToAddIndex !== -1) {
        this.addLabelToNote({
          id: this.note.id,
          label: this.labels[labelToAddIndex]
        });
      } else {
        let newLabel = {
          id: IDGenerator.generateID(),
          name: this.labelSearchInput
        };
        this.addLabel(newLabel);
        this.addLabelToNote({
          id: this.note.id,
          label: newLabel
        });
      }
      this.labelSearchInput = "";
      this.labelingActive = false;
    },
    toggleLabel(label) {
      if (label.checked) {
        this.addLabelToNote({
          id: this.note.id,
          label: {
            id: label.id,
            name: label.name
          }
        });
      } else {
        this._removeLabelFromNote(label);
      }
    },
    _removeLabelFromNote(label) {
      this.removeLabelFromNote({
        noteId: this.note.id,
        labelId: label.id
      });
    },
    qrCodeString(object) {
      let qrcodeString = StringCompression.compressToUTF16(
        JSON.stringify(object)
      );
      console.log(
        "String length without compression: " + JSON.stringify(object).length
      );
      console.log("String length with compression: " + qrcodeString.length);
      let reduction = JSON.stringify(object).length - qrcodeString.length;
      console.log("Reduction in size: " + reduction);
      return qrcodeString;
    }
  }
};
</script>
