<template>
  <div class="archivedNotes">
    <v-content>
      <v-container class="container--fluid">
        <div v-if="archivedNotes.length === 0" class="mt-12">
          <v-row class="justify-center align-center">
            <v-icon size="96">
              archive
            </v-icon>
          </v-row>
          <v-row class="justify-center align-center font-weight-light"
            >No archived Notes.</v-row
          >
        </div>
        <v-row v-if="!gridViewActive" class="justify-center">
          <!-- todo no notes indicator -->
          <v-col class="col-lg-4 col-md-6 col-sm-10">
            <note-wrapper
              flex
              class="mb-3"
              v-for="(note, index) in archivedNotes"
              v-bind:key="note.name"
              v-bind:note="note"
              v-bind:index="index"
            >
            </note-wrapper>
          </v-col>
        </v-row>

        <v-row v-else class="justify-center">
          <v-col
            class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
            v-for="(chunk, index) in breakpointList"
            :key="index"
          >
            <note-wrapper
              flex
              class="mb-3"
              v-for="note in chunk"
              v-bind:key="note.id"
              v-bind:note="note"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NoteWrapper from "../components/note/NoteWrapper";
import lists from "../utils/lists";

export default {
  name: "ArchivedNotes",
  components: {
    "note-wrapper": NoteWrapper
  },
  computed: {
    ...mapGetters("notes", ["archivedNotes"]),
    gridViewActive() {
      return this.$store.state.uistates.gridViewActive;
    },
    breakpointList() {
      let breakpoint = this.$vuetify.breakpoint;
      return lists.chunkByBreakpoint(this.archivedNotes, breakpoint);
    }
  }
};
</script>

<style scoped></style>
