<template>
  <div class="home">
    <v-content>
      <v-container class="container--fluid">
        <v-row class="justify-center">
          <v-col class="col-lg-3 col-md-6 col-sm-10">
            <new-note-input />
          </v-col>
        </v-row>
        <div v-if="activeNotes.length === 0" class="mt-12">
          <v-row class="justify-center align-center">
            <v-icon size="96">
              lightbulb_outline
            </v-icon>
          </v-row>
          <v-row class="justify-center align-center font-weight-light"
            >No Notes yet.</v-row
          >
        </div>
        <v-row v-if="!gridViewActive" class="justify-center">
          <v-col class="col-lg-4 col-md-6 col-sm-10">
            <note-wrapper
              flex
              class="mb-3"
              v-for="note in activeNotes"
              v-bind:key="note.id"
              v-bind:note="note"
            />
          </v-col>
        </v-row>

        <v-row v-else class="justify-center">
          <v-col
            class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
            v-for="(chunk, index) in breakpointList"
            :key="index"
          >
            <note-wrapper
              flex
              class="mb-3"
              v-for="note in chunk"
              v-bind:key="note.id"
              v-bind:note="note"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </div>
</template>

<script>
/* eslint-disable no-console */

import NewNoteInput from "../components/noteinput/NewNoteInput";
import NoteWrapper from "../components/note/NoteWrapper";
import { mapGetters } from "vuex";
import lists from "../utils/lists";

export default {
  name: "home",
  components: {
    "new-note-input": NewNoteInput,
    "note-wrapper": NoteWrapper
  },
  computed: {
    ...mapGetters("notes", ["activeNotes"]),
    gridViewActive() {
      return this.$store.state.uistates.gridViewActive;
    },
    breakpointList() {
      let breakpoint = this.$vuetify.breakpoint;
      return lists.chunkByBreakpoint(this.activeNotes, breakpoint);
    }
  }
};
</script>
