<template>
  <v-container fluid fill-height>
    <v-layout class="align-center justify-center">
      <v-flex xs12 sm8 md4>
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form
              v-model="formValid"
              @submit.prevent="submitLogin()"
              id="check-login-form"
            >
              <v-text-field
                v-model="loginInput.email"
                :rules="nameRules"
                prepend-icon="person"
                name="email"
                label="Email"
                type="text"
                required
              />
              <v-text-field
                v-model="loginInput.password"
                :rules="passwordRules"
                id="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                required
              />
            </v-form>
            <v-alert
              v-model="loginError.occured"
              type="info"
              dismissible
              transition="scale-transition"
            >
              {{ loginError.text }}
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <a class="ml-3" @click="toSignup()">Create new Account</a>
            <v-spacer />
            <v-btn
              class="mr-1 mb-1"
              type="submit"
              color="primary"
              form="check-login-form"
              >Login</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
import UsersAPI from "../api/UsersAPI";
export default {
  data() {
    return {
      formValid: false,
      loginError: {
        occured: false,
        text: ""
      },
      loginInput: {
        email: "",
        password: ""
      },
      nameRules: [v => !!v || "Name is required"],
      passwordRules: [v => !!v || "E-mail is required"]
    };
  },
  methods: {
    ...mapActions("user", ["insertNewTokenPair", "insertUserInfo"]),
    toSignup() {
      this.$router.push("/signup");
    },
    submitLogin() {
      let vueI = this;
      if (!vueI.formValid) {
        return;
      }
      UsersAPI.login(vueI.loginInput)
        .then(responseData => {
          this.insertNewTokenPair(responseData.token_pair);
          this.insertUserInfo(responseData.user_info);
          vueI.$router.push("/home");
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(error);
          if (error.response.status === 401) {
            if (error.response.data === "wrong username or password\n") {
              vueI.loginError = {
                occured: true,
                text: "Wrong username or password."
              };
            } else {
              vueI.loginError = {
                occured: true,
                text: "Unexpected Error occurred."
              };
            }
          } else if (error.response.status === 400) {
            vueI.loginError = {
              occured: true,
              text:
                "Something really bad happened: The sended request was malformed"
            };
          } else {
            vueI.loginError = {
              occured: true,
              text: "An Error occured. Please try again later."
            };
          }
        });
    }
  }
};
</script>
