<template>
  <div class="search">
    <v-content>
      <v-container class="container--fluid">
        <div v-if="searchedNotes.length === 0" class="mt-12">
          <v-row class="justify-center align-center">
            <v-icon size="96">
              search
            </v-icon>
          </v-row>
          <v-row class="justify-center align-center font-weight-light"
            >No results.</v-row
          >
        </div>
        <div v-if="!gridViewActive">
          <v-row class="justify-center">
            <v-col class="col-lg-4 col-md-6 col-sm-10">
              <note-wrapper
                flex
                class="mb-3"
                v-for="(note, index) in notesCategoryLists[0]"
                v-bind:key="note.name"
                v-bind:note="note"
                v-bind:index="index"
              >
              </note-wrapper>
            </v-col>
          </v-row>
          <v-row
            v-show="notesCategoryLists[1].length !== 0"
            class="justify-center font-weight-light mt-6"
            >Archive</v-row
          >
          <v-row class="justify-center">
            <v-col class="col-lg-4 col-md-6 col-sm-10">
              <note-wrapper
                flex
                class="mb-3"
                v-for="(note, index) in notesCategoryLists[1]"
                v-bind:key="note.name"
                v-bind:note="note"
                v-bind:index="index"
              >
              </note-wrapper>
            </v-col>
          </v-row>
          <v-row
            v-show="notesCategoryLists[2].length !== 0"
            class="justify-center font-weight-light mt-6"
            >Thrash</v-row
          >
          <v-row class="justify-center">
            <v-col class="col-lg-4 col-md-6 col-sm-10">
              <note-wrapper
                flex
                class="mb-3"
                v-for="(note, index) in notesCategoryLists[2]"
                v-bind:key="note.name"
                v-bind:note="note"
                v-bind:index="index"
              >
              </note-wrapper>
            </v-col>
          </v-row>
        </div>

        <div v-else>
          <v-row class="justify-center">
            <v-col
              class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
              v-for="(chunk, index) in breakpointLists[0]"
              :key="index"
            >
              <note-wrapper
                flex
                class="mb-3"
                v-for="note in chunk"
                v-bind:key="note.id"
                v-bind:note="note"
              />
            </v-col>
          </v-row>
          <v-row
            v-show="notesCategoryLists[1].length !== 0"
            class="ml-6 font-weight-light mt-6"
            >Archive</v-row
          >
          <v-row class="justify-center">
            <v-col
              class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
              v-for="(chunk, index) in breakpointLists[1]"
              :key="index"
            >
              <note-wrapper
                flex
                class="mb-3"
                v-for="note in chunk"
                v-bind:key="note.id"
                v-bind:note="note"
              />
            </v-col>
          </v-row>
          <v-row
            v-show="notesCategoryLists[2].length !== 0"
            class="ml-6 font-weight-light mt-6"
            >Thrash</v-row
          >
          <v-row class="justify-center">
            <v-col
              class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12"
              v-for="(chunk, index) in breakpointLists[2]"
              :key="index"
            >
              <note-wrapper
                flex
                class="mb-3"
                v-for="note in chunk"
                v-bind:key="note.id"
                v-bind:note="note"
              />
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-content>
  </div>
</template>

<script>
/* eslint-disable no-console */
import NoteWrapper from "../components/note/NoteWrapper";
import lists from "../utils/lists";

export default {
  name: "Search",
  components: {
    "note-wrapper": NoteWrapper
  },
  computed: {
    gridViewActive() {
      return this.$store.state.uistates.gridViewActive;
    },
    notes() {
      return this.$store.state.notes.notes;
    },
    searchedNotes() {
      let searchInput = this.searchInput;
      if (searchInput === "") {
        return this.notes;
      }
      return this.notes.filter(note => {
        if (note.title.toLowerCase().includes(searchInput.toLowerCase())) {
          return true;
        }
        if (note.type === "text") {
          return note.text.toLowerCase().includes(searchInput.toLowerCase());
        } else if (note.type === "list") {
          return note.items.some(item => {
            if (item.text.toLowerCase().includes(searchInput.toLowerCase())) {
              return true;
            }
          });
        }
        return false;
      });
    },
    breakpointList() {
      let breakpoint = this.$vuetify.breakpoint;
      return lists.chunkByBreakpoint(this.searchedNotes, breakpoint);
    },
    searchInput() {
      return this.$store.state.uistates.searchInput;
    },
    breakpointLists() {
      let breakpoint = this.$vuetify.breakpoint;
      return this.notesCategoryLists.map(list =>
        lists.chunkByBreakpoint(list, breakpoint)
      );
    },
    notesCategoryLists() {
      return lists.splitIntoCategories(this.searchedNotes);
    }
  }
};
</script>

<style scoped></style>
