<template>
  <div>
    <v-content>
      <v-container class="container--fluid">
        <v-card max-width="500" class="ma-5">
          <v-card-title>
            Local Data
          </v-card-title>
          <v-divider />
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-row class="justify-space-between">
                  <v-col class="pt-3 mt-3" md="8" sm="6">
                    Delete all <b>notes</b> stored locally
                  </v-col>
                  <v-col>
                    <v-btn color="error" @click="clearNotes()">
                      Delete
                      <v-icon right>
                        delete
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-row class="justify-space-between">
                  <v-col class="pt-3 mt-3" md="8" sm="6">
                    Delete all <b>personal data</b> stored locally
                  </v-col>
                  <v-col>
                    <v-btn color="error" @click="clearLocalStorage()">
                      Delete
                      <v-icon right>
                        delete
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
        <v-card max-width="500" class="ma-5">
          <v-card-title>
            User Interface
          </v-card-title>
          <v-list>
            <v-list-item>
              <v-list-item-action>
                <v-btn icon @click="setDarkMode(!darkMode)">
                  <v-icon>
                    {{ darkMode ? "brightness_5" : "brightness_4" }}
                  </v-icon>
                </v-btn>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{
                    darkMode ? "Switch to Light Mode" : "Switch to Dark Mode"
                  }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Settings.vue",
  methods: {
    ...mapActions("notes", ["clearNotes"]),
    ...mapActions("settings", ["setDarkMode"]),
    clearLocalStorage() {
      localStorage.clear();
    }
  },
  computed: {
    darkMode() {
      return this.$store.state.settings.darkMode;
    }
  }
};
</script>

<style scoped></style>
