<template>
  <v-container fluid fill-height>
    <GlobalEvents @keypress.enter="submitSignup()" />
    <v-layout class="align-center justify-center">
      <v-flex xs12 sm8 md4>
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Signup</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form
              v-model="formValid"
              @submit.prevent="submitSignup()"
              id="check-submit-form"
            >
              <v-text-field
                v-model="signupInput.name"
                :rules="nameRules"
                prepend-icon="person"
                name="name"
                label="Name"
                type="text"
                required
              ></v-text-field>
              <v-text-field
                v-model="signupInput.email"
                :rules="emailRules"
                prepend-icon="email"
                name="email"
                label="Email"
                type="text"
                required
              ></v-text-field>
              <v-text-field
                v-model="signupInput.password"
                :rules="passwordRules"
                id="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                required
              ></v-text-field>
            </v-form>
            <v-alert
              v-model="signupError.occured"
              type="info"
              dismissible
              transition="scale-transition"
            >
              {{ signupError.text }}
            </v-alert>
          </v-card-text>
          <v-card-actions>
            <a class="ml-3" @click="toLogin()">Already have an Account?</a>
            <v-spacer></v-spacer>
            <v-btn
              :disabled="!formValid"
              class="mr-1 mb-1 v-size--large"
              type="submit"
              color="primary"
              form="check-submit-form"
              >Signup</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
import UsersAPI from "../api/UsersAPI";
export default {
  data() {
    return {
      formValid: false,
      signupInput: {
        name: "",
        email: "",
        password: ""
      },
      signupError: {
        occured: false,
        text: ""
      },
      nameRules: [v => !!v || "Name is required"],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      passwordRules: [
        v => !!v || "Password is required",
        v => /.*[0-9].*/.test(v) || "Password must contain a number (0-9)",
        v =>
          /.*[ !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~].*/.test(v) ||
          "Password must contain a special character \n( !\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~)",
        v =>
          (v || "").length >= 8 || "Password must be at least 8 characters long"
      ]
    };
  },
  methods: {
    ...mapActions("user", ["insertNewTokenPair", "insertUserInfo"]),
    toLogin() {
      this.$router.push("login");
    },
    submitSignup() {
      let vueI = this;
      if (!vueI.formValid) {
        return;
      }
      UsersAPI.signup(vueI.signupInput)
        .then(response => {
          return response.data;
        })
        .then(responseData => {
          this.insertNewTokenPair(responseData.token_pair);
          this.insertUserInfo(responseData.user_info);
          vueI.$router.push("/home");
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(JSON.stringify(error.response));
          if (error.response.status === 400) {
            if (error.response.data === "email address already in use\n") {
              vueI.signupError = {
                occured: true,
                text: "Email address is already in use."
              };
            } else {
              vueI.signupError = {
                occured: true,
                text:
                  "Something really bad happened: The sended request was malformed"
              };
            }
          } else {
            vueI.signupError = {
              occured: true,
              text: "An Error occured. Please try again later."
            };
          }
        });
    }
  }
};
</script>
