<template>
  <div>
    <v-list dense :color="color">
      <v-list-item
        v-for="(item, pos) in note.items"
        v-bind:key="pos"
        class="ma-0 pa-0"
      >
        <v-list-item-action class="ma-0 pa-0 pl-3" style="z-index: 2">
          <v-row justify="center">
            <v-checkbox
              class="pa-0 ma-0"
              color="blue-grey--darken4"
              v-model="item.checked"
              dense
              hide-details
            />
          </v-row>
        </v-list-item-action>
        <v-list-item-content class="pa-0 ma-0">
          <v-text-field
            :background-color="color"
            ref="listitems"
            dense
            v-model="item.text"
            flat
            solo
            class="pa-0 ma-0"
            hide-details
            name="newNoteText"
            label="Listitem"
            type="text"
            @keypress.enter.exact="createListItemAtPos(pos + 1)"
            @keydown.delete="deleteListItemAtPos(pos)"
          />
        </v-list-item-content>
      </v-list-item>
      <v-list-item class="ma-0 pa-0">
        <v-list-item-action class="ma-0 pa-0 pl-2" style="z-index: 2">
          <v-row justify="center">
            <v-icon small>
              add
            </v-icon>
          </v-row>
        </v-list-item-action>
        <v-list-item-content class="ma-0 pa-0">
          <v-text-field
            :background-color="color"
            dense
            ref="listItemInput"
            v-model="listItemInput"
            flat
            solo
            class="pa-0 ma-0"
            hide-details
            name="newNoteText"
            label="Listitem"
            type="text"
            @keydown.delete="deleteListItemAtPos(-2)"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "ListInput",
  props: ["note", "color"],
  data() {
    return {
      listItemInput: ""
    };
  },
  watch: {
    listItemInput: function(newVal) {
      if (newVal === "") {
        return;
      }
      this.createNewListItem();
    }
  },
  methods: {
    focus() {
      this.$refs.listItemInput.focus();
    },
    createNewListItem() {
      if (this.listItemInput === "") {
        return;
      }
      let newItem = {
        text: this.listItemInput,
        checked: false
      };
      this.note.items.push(newItem);
      this.$nextTick(() => {
        this.$refs.listitems[this.note.items.length - 1].focus();
        this.listItemInput = "";
      });
    },
    createListItemAtPos(position) {
      if (this.note.items[position - 1].text === "") {
        return;
      }
      if (position === this.note.items.length) {
        this.changeFocusToListItemInput();
        return;
      }
      let newItem = { text: "", checked: false };
      this.note.items.splice(position, 0, newItem);
      this.$nextTick(() => {
        this.$refs.listitems[position].focus();
      });
    },
    deleteListItemAtPos(position) {
      if (position === -2) {
        if (this.note.items.length === 0) {
          return;
        }
        this.$refs.listitems[this.note.items.length - 1].focus();
        return;
      }
      if (this.note.items[position].text !== "") {
        return;
      }
      this.note.items.splice(position, 1);
      if (position === 0) {
        this.changeFocusToListItemInput();
        return;
      }
      this.$nextTick(() => {
        this.$refs.listitems[position - 1].focus();
      });
    },
    changeFocusToListItemInput() {
      this.$nextTick(() => {
        this.$refs.listItemInput.focus();
      });
    }
  }
};
</script>

<style scoped></style>
