<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <nav>
    <v-app-bar text app clipped-left class="primary white--text">
      <v-app-bar-nav-icon @click="drawer = !drawer" class="white--text" />
      <v-toolbar-title class="hidden-xs-only">
        <span class="title font-weight-bold">Mentio</span>
      </v-toolbar-title>
      <v-spacer />
      <v-text-field
        v-model="searchInput"
        rounded
        clearable
        flat
        hide-details
        label="Search"
        prepend-inner-icon="search"
        solo
        @focus="focusSearchBar()"
      />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-spacer />
      <v-btn @click="qrCodeScanDialog = true" icon class="white--text">
        <v-icon>
          mdi-qrcode-scan
        </v-icon>
      </v-btn>
      <div class="mr-6 mr-sm-2 hidden-xs-only">
        <v-tooltip bottom v-if="gridViewActive">
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              icon
              class="white--text"
              @click="updateGridViewActive(false)"
            >
              <v-icon large>
                view_stream
              </v-icon>
            </v-btn>
          </template>
          <span>List View</span>
        </v-tooltip>

        <v-tooltip v-else bottom>
          <template v-slot:activator="{ on }">
            <v-btn
              v-on="on"
              icon
              class="white--text"
              @click="updateGridViewActive(true)"
            >
              <v-icon large>
                view_module
              </v-icon>
            </v-btn>
          </template>
          <span>Grid View</span>
        </v-tooltip>
      </div>

      <v-menu v-model="value" bottom :offset-y="true" max-width="320">
        <template v-slot:activator="{ on: onMenu }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on: onTooltip }">
              <v-btn
                v-on="{ ...onMenu, ...onTooltip }"
                fab
                icon
                class="mr-xs-1 mr-2 ml-xs-0 ml-2"
              >
                <v-avatar color="secondary">
                  <span class="white--text headline">{{ userAvatarText }}</span>
                </v-avatar>
              </v-btn>
            </template>
            <span v-if="guestMode">Guest Account Information</span>
            <div v-else>
              <div>Account Information</div>
              <div class="font-weight-bold">{{ currentUser.name }}</div>
              <div class="font-weight-bold">{{ currentUser.email }}</div>
            </div>
          </v-tooltip>
        </template>

        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <v-avatar color="secondary">
                  <span class="white--text headline">{{ userAvatarText }}</span>
                </v-avatar>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>
                  {{ currentUser.name }}
                </v-list-item-title>
                <v-list-item-subtitle>{{
                  currentUser.email
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-card-text v-show="guestMode" class="mt-1 pt-0">
            You are using a Guest Account, all notes you create will be stored
            locally on your device.
            <b>Login</b> or <b>Signup</b> to sync your notes across your
            devices.
          </v-card-text>

          <v-divider></v-divider>

          <v-list-item>
            <v-list-item-action>
              <v-btn icon @click="setDarkMode(!darkMode)">
                <v-icon>
                  {{ darkMode ? "brightness_5" : "brightness_4" }}
                </v-icon>
              </v-btn>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ darkMode ? "Switch to Light Mode" : "Switch to Dark Mode" }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-spacer />
            <div v-if="guestMode">
              <v-btn text color="primary" to="/login">
                <span>Login</span>
              </v-btn>
              <v-btn text color="primary" to="/signup">
                <span>Signup</span>
              </v-btn>
            </div>
            <v-btn v-else text color="primary" @click="doLogout()">
              <span>Logout</span>
              <v-icon right>exit_to_app</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer app clipped v-model="drawer">
      <v-list-item class="hidden-sm-and-up">
        <v-list-item-content>
          <v-list-item-title class="title">
            Mentio
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list dense>
        <v-list-item to="/">
          <v-list-item-action>
            <v-icon>
              lightbulb_outline
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Notes
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <!--
        <v-list-item to="reminders">
          <v-list-item-action>
            <v-icon>
              touch_app
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Reminders
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        -->

        <v-divider />

        <v-subheader>
          LABELS
        </v-subheader>

        <v-list-item
          v-for="label in labels"
          :key="label.id"
          :to="'/label/' + label.name"
        >
          <v-list-item-action>
            <v-icon>
              label
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ label.name }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click.stop="editLabelDialog = true">
          <v-list-item-action>
            <v-icon>
              edit
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Edit Labels
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider />

        <v-list-item to="/archive">
          <v-list-item-action>
            <v-icon>
              archive
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Archive
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/trash">
          <v-list-item-action>
            <v-icon>
              delete
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Trash
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider />

        <v-list-item to="/settings">
          <v-list-item-action>
            <v-icon>
              settings
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Settings
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!--todo add settings and stuff -->
      </v-list>
    </v-navigation-drawer>
    <v-dialog v-model="editLabelDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Edit Labels</v-card-title>

        <v-card-text>
          <v-text-field
            ref="newLabelInput"
            v-model="newLabelInput"
            placeholder="Create new Label"
            type="text"
            @focus="newLabelInputFocused = true"
            @blur="newLabelInputFocused = false"
            :prepend-icon="newLabelInputFocused ? 'clear' : 'add'"
            @click:prepend="toggleFocus()"
            :append-icon="newLabelInput !== '' ? 'done' : ''"
            @click:append="createNewLabel()"
            @keypress.enter="createNewLabel"
          />
          <div v-for="(label, index) in labels" :key="label.id">
            <v-text-field
              ref="editLabel"
              v-model="label.name"
              type="text"
              prepend-icon="label"
              :append-icon="label.focused ? 'done' : 'edit'"
              @click:append="focusEditLabel(index)"
              append-outer-icon="delete"
              @click:append-outer="openDeleteLabelDilaog(label)"
            />
          </div>
          <v-dialog v-model="deleteLabelDialog" max-width="350">
            <v-card>
              <v-card-text class="pt-5">
                The label
                <span class="font-weight-bold">{{
                  labelSelectedForDelete.name
                }}</span>
                will be deleted and all usages in your notes removed. Your notes
                won't be removed.
              </v-card-text>
              <v-divider />
              <v-card-actions @click="deleteLabelDialog = false">
                <v-spacer />
                <v-btn text>
                  Cancel
                </v-btn>
                <v-btn text @click="deleteLabel()">
                  <span>Delete</span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="editLabelDialog = false">
            Finish
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="qrCodeScanDialog"
      max-width="600"
      v-if="$vuetify.breakpoint.mdAndUp"
    >
      <v-card>
        <v-card-title class="headline">Scanning QR-Code</v-card-title>

        <v-card-text>
          <p class="error">{{ qrCodeError }}</p>

          <qrcode-stream
            @decode="onDecode"
            @init="onInit"
            v-if="qrCodeScannerAlive"
          />

          <note-wrapper
            v-if="qrCodeScannedNote !== ''"
            v-bind:note="qrCodeScannedNote"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            v-if="qrCodeScannedNote !== ''"
            @click="saveAndContinue()"
          >
            Save And Continue
          </v-btn>
          <v-btn text @click="qrCodeScanDialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="qrCodeScanDialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      v-else
    >
      <v-card>
        <v-card-title class="headline">Scanning QR-Code</v-card-title>

        <v-card-text>
          <p class="error">{{ qrCodeError }}</p>

          <qrcode-stream
            @decode="onDecode"
            @init="onInit"
            v-if="qrCodeScannerAlive"
          />

          <note-wrapper
            v-if="qrCodeScannedNote !== ''"
            v-bind:note="qrCodeScannedNote"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            v-if="qrCodeScannedNote !== ''"
            @click="saveAndContinue()"
          >
            Save And Continue
          </v-btn>
          <v-btn text @click="qrCodeScanDialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </nav>
</template>

<script>
/* eslint-disable no-console */

import { mapActions } from "vuex";
import IDGenerator from "../api/IDGenerator";
import router from "../router";
import { QrcodeStream } from "vue-qrcode-reader";
import NoteWrapper from "./note/NoteWrapper";
import StringCompression from "lz-string";

export default {
  data() {
    return {
      drawer: false,
      qrCodeScanDialog: false,
      qrCodeScannerAlive: true,
      qrCodeError: "",
      qrCodeScannedNote: "",
      editLabelDialog: false,
      newLabelInput: "",
      newLabelInputFocused: false,
      deleteLabelDialog: false,
      labelSelectedForDelete: "",
      labelsCopy: [],
      searchInput: "",
      items: [
        { icon: "settings", text: "Settings", path: "home" },
        { icon: "help", text: "Help", path: "home" },
        { icon: "phonelink", text: "App downloads", path: "home" },
        { icon: "keyboard", text: "Keyboard shortcuts", path: "home" }
      ],
      value: false
    };
  },
  components: {
    "qrcode-stream": QrcodeStream,
    "note-wrapper": NoteWrapper
  },
  computed: {
    darkMode() {
      return this.$store.state.settings.darkMode;
    },
    guestMode() {
      return this.$store.state.user.guestMode;
    },
    userAvatarText() {
      if (this.guestMode) {
        return "?";
      }
      return this.$store.state.user.currentUser.name.charAt(0);
    },
    currentUser() {
      if (this.guestMode) {
        return {
          name: "Guest Account",
          email: ""
        };
      }
      return this.$store.state.user.currentUser;
    },
    gridViewActive() {
      return this.$store.state.uistates.gridViewActive;
    },
    labels() {
      return this.$store.state.notes.labels;
    }
  },
  watch: {
    qrCodeScanDialog(newValue) {
      if (!newValue) {
        this.qrCodeScannerAlive = false;
        if (this.qrCodeScannedNote !== "") {
          this.saveScannedNote();
          this.qrCodeScannedNote = "";
        }
      } else {
        this.qrCodeScannerAlive = true;
      }
    },
    darkModeSwitch(newValue) {
      this.setDarkMode(newValue);
    },
    editLabelDialog(newValue) {
      if (newValue) {
        this.labelsCopy = JSON.parse(JSON.stringify(this.labels));
      }
      if (!newValue) {
        let indexedNewLabels = this.labels.map(label => label.id);
        let indexedOldLabels = this.labelsCopy.map(label => label.id);
        let filteredOldLabels = this.labelsCopy.filter(label =>
          indexedNewLabels.includes(label.id)
        );
        let filteredNewLabels = this.labels.filter(label =>
          indexedOldLabels.includes(label.id)
        );
        filteredOldLabels.forEach((label, index) => {
          if (label.id !== filteredNewLabels[index].id) {
            console.error("broken state");
          }
          if (label.name !== filteredNewLabels[index].name) {
            this.updateLabel(filteredNewLabels[index]);
          }
        });
      }
    },
    searchInput(newValue) {
      this.setSearchInput(newValue);
    }
  },
  methods: {
    ...mapActions("user", ["doLogout"]),
    ...mapActions("settings", ["setDarkMode"]),
    ...mapActions("uistates", ["setGridViewActive", "setSearchInput"]),
    ...mapActions("notes", [
      "addLabel",
      "removeLabel",
      "updateLabel",
      "insertNewNote"
    ]),
    updateGridViewActive(mode) {
      this.setGridViewActive(mode);
    },
    toggleFocus() {
      if (this.newLabelInputFocused) {
        this.$refs.newLabelInput.blur();
      } else {
        this.$refs.newLabelInput.focus();
      }
    },
    createNewLabel() {
      if (this.newLabelInput === "") {
        return;
      }
      this.addLabel({
        id: IDGenerator.generateID(),
        name: this.newLabelInput
      });
      this.newLabelInput = "";
    },
    focusEditLabel(index) {
      if (this.$refs.editLabel[index].isFocused) {
        this.$refs.editLabel[index].blur();
      } else {
        this.$refs.editLabel[index].focus();
      }
    },
    deleteLabel() {
      this.removeLabel(this.labelSelectedForDelete.id);
      this.labelSelectedForDelete = "";
      this.deleteLabelDialog = false;
    },
    openDeleteLabelDilaog(label) {
      this.labelSelectedForDelete = label;
      this.deleteLabelDialog = true;
    },
    focusSearchBar() {
      router.push("/search");
    },
    onDecode(result) {
      try {
        this.qrCodeScannedNote = JSON.parse(
          StringCompression.decompressFromUTF16(result)
        );
        this.qrCodeScannerAlive = false;
      } catch (e) {
        console.log(e);
        return;
      }
    },

    async onInit(promise) {
      try {
        await promise;
      } catch (error) {
        if (error.name === "NotAllowedError") {
          this.qrCodeError = "ERROR: you need to grant camera access permisson";
        } else if (error.name === "NotFoundError") {
          this.qrCodeError = "ERROR: no camera on this device";
        } else if (error.name === "NotSupportedError") {
          this.qrCodeError =
            "ERROR: secure context required (HTTPS, localhost)";
        } else if (error.name === "NotReadableError") {
          this.qrCodeError = "ERROR: is the camera already in use?";
        } else if (error.name === "OverconstrainedError") {
          this.qrCodeError = "ERROR: installed cameras are not suitable";
        } else if (error.name === "StreamApiNotSupportedError") {
          this.qrCodeError =
            "ERROR: Stream API is not supported in this browser";
        }
      }
    },

    saveScannedNote() {
      this.insertNewNote(this.qrCodeScannedNote);
      this.qrCodeScannedNote.labels.forEach(label => this.addLabel(label));
    },
    saveAndContinue() {
      this.saveScannedNote();
      this.qrCodeScannedNote = "";
      this.qrCodeScannerAlive = true;
    }
  }
};
</script>

<style></style>
