<template>
  <v-card class="elevation-6">
    <v-text-field
      class="ma-0 pa-0 pt-1 font-weight-bold"
      dense
      ref="noteTitleInput"
      v-model="note.title"
      flat
      hide-details
      solo
      name="newNoteTitle"
      label="Title"
      type="text"
      @keypress.enter.exact.self="changeFocusToListItemInput()"
    />

    <list-input :note="note" ref="listNoteItemInput" />
    <v-divider />

    <v-card-actions class="pa-0 ma-0 pr-1 pb-1">
      <v-spacer />
      <v-btn text @click="createNewNote">
        Finish
      </v-btn>
      <v-btn text @click="collapse()">
        Discard
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
import ListInput from "../ListInput";
import IDGenerator from "../../api/IDGenerator";

export default {
  name: "ListNoteInput",
  components: {
    "list-input": ListInput
  },
  data() {
    return {
      note: {
        type: "list",
        title: "",
        items: []
      }
    };
  },
  inject: ["collapse", "createNewNote"],
  methods: {
    ...mapActions("notes", ["insertNewNote"]),
    reset() {
      this.note.title = "";
      this.note.items = [];
      this.listItemInput = "";
    },
    focus() {
      this.$refs.noteTitleInput.focus();
    },
    getNote() {
      let newNote = {
        id: IDGenerator.generateID(),
        type: "list",
        title: this.note.title.trimEnd(),
        text: "",
        items: this.note.items.filter(item => item.text !== ""),
        archived: false,
        deleted: false,
        labels: [],
        color: "note_default"
      };
      newNote.items.map(item => {
        item.text = item.text.trim();
        return item;
      });
      return newNote;
    },
    changeFocusToListItemInput() {
      this.$nextTick(() => {
        this.$refs.listNoteItemInput.focus();
      });
    }
  }
};
</script>

<style scoped></style>
