<template>
  <div>
    <GlobalEvents
      @keyup.ctrl.enter.exact="createNewNote()"
      @keyup.ctrl.shift.enter.exact="expandListNoteInput()"
      @keyup.esc="collapse()"
    />
    <v-hover v-if="!expanded" v-slot:default="{ hover }">
      <v-card :elevation="hover ? 8 : 2" class="flex ">
        <v-card-actions class="ma-0 pa-1 pr-2">
          <v-text-field
            flat
            hide-details
            solo
            name="newNoteTitle"
            label="Create new note..."
            type="text"
            @focus="expandTextNoteInput()"
          />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn icon @click="expandListNoteInput()" v-on="on">
                <v-icon>
                  check_box
                </v-icon>
              </v-btn>
            </template>
            <span>Create List Note</span>
          </v-tooltip>
          <!-- todo photo note
        <v-btn icon>
          <v-icon>
            insert_photo
          </v-icon>
        </v-btn>
        --->
        </v-card-actions>
      </v-card>
    </v-hover>
    <text-input ref="textNoteInput" v-show="textNoteInputActive" />
    <list-input ref="listNoteInput" v-show="listNoteInputActive" />
  </div>
</template>

<script>
import TextNoteInput from "./TextNoteInput";
import ListNoteInput from "./ListNoteInput";
import { mapActions } from "vuex";
export default {
  name: "NewNoteInput",
  components: {
    "text-input": TextNoteInput,
    "list-input": ListNoteInput
  },
  data() {
    return {
      expanded: false,
      textNoteInputActive: false,
      listNoteInputActive: false
    };
  },
  provide: function() {
    return {
      collapse: this.collapse,
      createNewNote: this.createNewNote
    };
  },
  methods: {
    ...mapActions("notes", ["insertNewNote"]),
    createNewNote() {
      if (this.$store.state.uistates.modifyDialogActive) {
        return;
      }
      if (!this.expanded) {
        this.expandTextNoteInput();
        return;
      }
      if (this.textNoteInputActive) {
        let newNote = this.$refs.textNoteInput.getNote();
        if (newNote.title === "" && newNote.text === "") {
          this.collapse();
          return;
        }
        this.insertNewNote(newNote);
        this.collapse();
      }
      if (this.listNoteInputActive) {
        let newNote = this.$refs.listNoteInput.getNote();
        if (
          newNote.title === "" &&
          (newNote.items === undefined || newNote.items.length === 0)
        ) {
          this.collapse();
          return;
        }
        this.insertNewNote(newNote);
        this.collapse();
      }
    },
    collapse() {
      this.$refs.textNoteInput.reset();
      this.$refs.listNoteInput.reset();
      this.expanded = false;
      this.textNoteInputActive = false;
      this.listNoteInputActive = false;
    },
    expandTextNoteInput() {
      this.expanded = true;
      this.textNoteInputActive = true;
      this.$nextTick(() => {
        this.$refs.textNoteInput.focus();
      });
    },
    expandListNoteInput() {
      if (this.$store.state.uistates.modifyDialogActive) {
        return;
      }
      if (this.textNoteInputActive) {
        return;
      }
      this.expanded = true;
      this.listNoteInputActive = true;
      this.$nextTick(() => {
        this.$refs.listNoteInput.focus();
      });
    }
  }
};
</script>
