<template>
  <v-card class="elevation-6">
    <v-text-field
      class="ma-0 pa-0 pt-1 font-weight-bold"
      dense
      ref="noteTitleInput"
      v-model="textNote.title"
      flat
      hide-details
      solo
      name="newNoteTitle"
      label="Title"
      type="text"
      @keypress.enter.exact="changeFocusToTextInput()"
    />
    <v-textarea
      dense
      ref="noteTextInput"
      v-model="textNote.text"
      flat
      solo
      auto-grow
      rows="1"
      class="ma-0 mb-0"
      hide-details
      name="newNoteText"
      label="Create new note..."
      type="text"
    />
    <v-card-actions class="pa-0 ma-0 pr-1 pb-1">
      <v-spacer />
      <v-btn text @click="createNewNote()">
        Finish
      </v-btn>
      <v-btn text @click="collapse()">
        Discard
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import IDGenerator from "../../api/IDGenerator";

export default {
  name: "TextNoteInput",
  data() {
    return {
      textNote: {
        title: "",
        text: ""
      }
    };
  },
  inject: ["collapse", "createNewNote"],
  methods: {
    reset() {
      this.textNote.title = "";
      this.textNote.text = "";
    },
    focus() {
      this.$refs.noteTitleInput.focus();
    },
    getNote() {
      let newNote = {
        id: IDGenerator.generateID(),
        type: "text",
        title: this.textNote.title.trimEnd(),
        text: this.textNote.text.trimEnd(),
        items: [],
        archived: false,
        deleted: false,
        labels: [],
        color: "note_default"
      };
      return newNote;
    },
    changeFocusToTextInput() {
      this.$nextTick(() => {
        this.$refs.noteTextInput.focus();
      });
    }
  }
};
</script>

<style scoped></style>
