<template>
  <v-app :dark="setTheme">
    <router-view name="navbar" />
    <router-view />
  </v-app>
</template>

<script>
/* eslint-disable vue/no-side-effects-in-computed-properties */

export default {
  name: "App",
  computed: {
    setTheme() {
      let mode = this.$store.state.settings.darkMode;
      // eslint-disable-next-line no-console
      console.log("Dark mode: " + mode);
      return mode;
    }
  },
  watch: {
    setTheme(newValue) {
      this.$vuetify.theme.dark = newValue;
    }
  },
  mounted() {
    this.$vuetify.theme.dark = this.setTheme;
  }
};
</script>
